body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-color: whitesmoke;
}

#default-select {
    display: none;
}


#wrapper {
    width: 100%;
}

#restaurant-menu {
    text-align: center;
}

#custom-select {
    width: 500px;
    margin: 0 auto;
    
}

#custom-select div {
    border-bottom: 1px solid #999;
    background-color: dodgerblue;
    color: white;
    /* padding: 10px; */
}



#custom-select #option-items div{
    padding: 10px;
}

#custom-select #option-selected {
    padding: 10px;
}

#custom-select #option-items {
    display: none;
}

#custom-select #option-items.active{
    display: block;
}

#custom-select #option-items div.active {
    background-color: #156EC7;
}

#custom-select #option-items div:hover {
    background-color: #156EC7;
}